{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">

            <h3 class="mb-4 mt-5">Check Point Tools</h3>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                {# Loop through the list of Check Point tools passed from Flask #}
                {% for tool in checkpoint_tools %}
                <div class="col">
                    <div class="card h-100 border-{{ tool.status }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ tool.title }}</h5>
                            <p class="card-text">{{ tool.desc }}</p>
                            
                            <a href="{{ tool.url }}" 
                               class="btn btn-{{ tool.status }}"
                               {% if tool.disabled %}disabled{% endif %}
                            >
                                Go
                                {% if tool.note %}{{ tool.note }}{% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <h3 class="mb-4 mt-5">Other Vendor Tools</h3>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                {# Loop through the list of Other Vendor tools #}
                {% for tool in other_tools %}
                <div class="col">
                    <div class="card h-100 border-{{ tool.status }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ tool.title }} {{ tool.note }}</h5>
                            <p class="card-text">{{ tool.desc }}</p>
                            
                            <a href="{{ tool.url }}" 
                               class="btn btn-{{ tool.status }} {% if tool.disabled %}disabled{% endif %}"
                            >
                                {% if tool.disabled %}Disabled{% else %}Go{% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}